html, body {
  height: 100%;
  width: 100%;
}
body {
  background-color: whitesmoke;
}
h1 { 
  color:white;
  background-color:rgb(140,90,220);
  font-family:'Agency FB';
  font-size:35px;
  text-align: center;
}
h2 { 
  color:white;
  background-color:rgb(140,90,220);
  font-family:'Agency FB';
  text-align: center;
}