html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: whitesmoke;
  font-family: 'Agency FB';
}

h1 { 
  color:white;
  background-color:rgb(140,90,220);
  font-size:35px;
  text-align: center;
  padding: 20px;
  margin: 0px;
  border-bottom: 6px solid #DC4AE6;
}

h2 { 
  color:white;
  background-color:rgb(140,90,220);
  text-align: center;
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

a {
  padding: 30px;
  color: white;
  font-size:130%;
  text-decoration: none;
}

#homedesc{
  font-size: 20px;
  width:95%;
  margin:auto;
  padding: 20px;
}

#basicdesc{
  font-size: 20px;
  width:95%;
  margin:auto;
  padding: 20px;
}

#offensedesc{
  font-size: 20px;
  width:95%;
  margin:auto;
  padding: 20px;
}

#container{
  overflow: hidden;
  clear:left;
  width: 100%;
  margin:auto;
  text-align:center;
  font-weight: bold;
  color: white;
}

*{box-sizing: border-box}
#container div{
  overflow: hidden;
  float:left;
  background-color: rgb(140,90,220);
  height: 20vh;
  width: 20%;
  border: 3px outset rgb(120,70,200);
  padding-top:30px;
}

img {
  width: 50%;
  height: 60%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
